doctype html
html
  head
    link(type="text/css" rel="stylesheet" href="styles.css")
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
  body
    header
      a(href="https://chrome.google.com/webstore/detail/npm-hub/kbbbjimdjbjclaebffknlabpogocablj")
        img(src="images/npm-octocat.png")
    section
      #content

        h2 Find out what npm modules the cool kids are using.

        :markdown
          npm-hub is a browser extension for Chrome, Safari, and Firefox that helps you discover new npm modules while browsing github.com.
          It notices when you're browsing a repo with a package.json in it. If there are any `dependencies` or `devDependencies` listed
          therein, npm-hub fetches each module's metadata from a [CORS-friendly proxy of npmjs.org](https://github.com/zeke/npm-registry-cors-proxy) and displays its right on the github
          page, just below the README. Here's what it looks like when browsing the awesome new [ourtunes](https://github.com/azer/ourtunes) project:

        a(href="https://chrome.google.com/webstore/detail/npm-hub/kbbbjimdjbjclaebffknlabpogocablj")
          img.screenshot(src="images/npm-hub-screenshot.png")

        .footer

          p.spacey
            a.button(href="https://chrome.google.com/webstore/detail/npm-hub/kbbbjimdjbjclaebffknlabpogocablj") Install on Google Chrome
            a.button(href="http://crossrider.com/install/36212-npm-hub") Install on Other Browsers

          :markdown
            npm-hub is free and [open source](https://github.com/zeke/npm-hub).





