doctype html
html
  head
    link(type="text/css" rel="stylesheet" href="styles.css")
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
  body
    header
      a(href="https://chrome.google.com/webstore/detail/npm-hub/kbbbjimdjbjclaebffknlabpogocablj")
        img(src="images/npm-octocat.png")
    section
      #content

        h2 Discover intersting node modules on github.com

        :markdown
          npm-hub is a browser extension for Chrome, Safari, and Firefox that notices when you're looking
          at a GitHub repo with a package.json in it. If there are any `dependencies` or `devDependencies` listed
          therein, npm-hub looks up each module on npmjs.org and displays its metadata right on the github
          page, just below the README.

        .footer
          :markdown

            [Install on Google Chrome](https://chrome.google.com/webstore/detail/npm-hub/kbbbjimdjbjclaebffknlabpogocablj) or [other browsers](http://crossrider.com/install/36212-npm-hub).

            npm-hub is free and [open source](https://github.com/zeke/npm-hub).






